:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --third-color: #ffffff;
  --contacts-color-secondary: #f4f4fd;
  --accent-color: #404bbf;
  --brand-color: #4d5ae5;
  --background-main: #f4f4fd;
  --background-secondary: #2e2f42;
  --border-color: #e7e9fc;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

/* base */

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  margin: 0 auto;
}

/* header */
.header-mobile-button {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--background-section-color);
}

.mobile-menu-icon {
  width: 32px;
  height: 22px;
  stroke: currentColor;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
}
.header-list {
  display: none;
  min-width: 260px;
  justify-content: space-between;
}
.addres-list {
  display: flex;
}
address {
  display: none;
  margin-left: auto;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-right: 76px;
}
.logo-part {
  color: var(--brand-color);
}

.header-item-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-portfolio {
  color: var(--accent-color);
}

.header-portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-bottom: 0;
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

header {
  padding: 24px 0;
  background-color: var(--third-color);
  border-bottom: 1px solid #e7e9fc;
  position: relative;
}
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--third-color);
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.mobile-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #0000001a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-close-button:hover,
.mobile-close-button:focus {
  background: #404bbf;
  cursor: pointer;
}
.mobile-close-button:focus,
.mobile-close-button:hover .mobile-close-icon {
  fill: #ffffff;
}

.mobile-menu-text-container {
  display: flex;
  flex-direction: column;
  gap: 284px;
  padding: 80px 35px 40px 40px;
}
.mobile-menu-top-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-top-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--background-secondary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-top-link:hover,
.mobile-menu-top-link:focus {
  color: var(--accent-color);
}

.mobile-menu-addres-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-bot-list-item-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-bot-list-item-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-bot-list-item:hover,
.mobile-menu-bot-list-item:focus {
  color: var(--brand-color);
}
.mobile-menu-social-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}
.mobile-menu-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-list-link:hover,
.mobile-menu-social-list-link:focus {
  background-color: #31d0aa;
}
.mobile-menu-list-icon {
  fill: var(--contacts-color-secondary);
}
/* work examples */
.section-work {
  padding-top: 48px;
  padding-bottom: 48px;
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background: var(--background-main);
  padding: 8px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--third-color);
  background: var(--accent-color);
  cursor: pointer;
}
.work-list {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px 24px;
}

.work-list-item:nth-child(3) {
  margin-right: 24px;
}

.work-list-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.examples-expl {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.examples-info {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: auto;
}

.example-link {
  display: block;
  max-width: 396px;
  max-height: 400px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover,
.example-link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.examples-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}

.example-link:hover .overlay,
.example-link:focus .overlay {
  transform: translateY(0%);
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-main);
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
}
/* footer */

.footer {
  background: var(--background-secondary);
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-logo {
  color: var(--contacts-color-secondary);
  margin-bottom: 16px;
  margin-right: 0px;
  display: block;
  text-align: center;
}
.footer-forms {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color-secondary);
  max-width: 268px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-list-icon {
  fill: var(--contacts-color-secondary);
}

.footer-input {
  width: 398px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--third-color);
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.8;
}

.footer-btn {
  background-color: var(--brand-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-color);
}
.footer-right-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.footer-right-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .footer {
    padding: 100px 0;
    padding-left: 108px;
  }
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: calc((100% - 1 * 24px) / 2);
    gap: 72px 24px;
    align-items: flex-start;
  }
  .footer-left {
    margin-right: 24px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social {
    text-align: left;
  }
  .footer-input {
    width: 264px;
  }
  .footer-btn {
    margin-left: 0;
    margin-right: 0;
    gap: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-forms {
    display: flex;
    flex-direction: row-reverse;
  }
  .header-container {
    gap: 120px;
  }
  .header-list {
    display: flex;
  }
  .addres-list {
    flex-direction: column;
    gap: 12px;
  }
  address {
    display: block;
  }

  .logo {
    margin-right: 0px;
  }

  .header-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  header {
    padding: 16px 0 24px 0;
    height: 72px;
  }
  .header-mobile-button {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .section-work {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .button {
    padding: 12px 24px;
  }

  .work-list {
    margin-bottom: 64px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .work-list-item:nth-child(3) {
    margin-right: 0px;
  }

  .work-list-examples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px 24px;
  }

  .example-link {
    max-width: 356px;
    max-height: 420px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
  }
  .footer-left {
    margin-right: 120px;
  }
  .footer-right {
    margin-left: 80px;
  }
  .footer {
    padding: 100px 0;
    padding-left: 0;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color-secondary);
    width: 264px;
    align-items: space-between;
  }
  .header-container {
    gap: 0px;
  }
  .addres-list {
    flex-direction: row;
    gap: 40px;
  }

  .logo {
    margin-right: 76px;
  }

  header {
    padding: 24px 0;
  }
  .header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-bottom: 0;
  }
  .section-work {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .work-list {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .work-list-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .work-list-example-item:nth-child(-n + 6) {
    margin-bottom: 48px;
  }

  .work-list-example-item:nth-child(n + 4) {
    margin-top: -24px;
  }

  .example-link {
    max-width: 360px;
    max-height: 420px;
  }
}
