:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --accent-color: #404bbf;
  --third-color: #ffffff;
  --brand-color: #4d5ae5;
  --contacts-color-secondary: #f4f4fd;
  --background-section-color: #2e2f42;
  --header-background: #e7e9fc;
  --customers-color: #8e8f99;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}
/* base */

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin: 0 auto;
}

h3 {
  margin-bottom: 8px;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
}
.header-list {
  display: flex;
  min-width: 260px;
  justify-content: space-between;
}
.addres-list {
  display: flex;
}
address {
  margin-left: auto;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-right: 76px;
}
.logo-part {
  color: var(--brand-color);
}

.header-item-addres {
  margin-right: 40px;
}

.header-item-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio {
  color: var(--accent-color);
}

.header-studio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.header {
  padding: 24px 0;
  background-color: var(--third-color);
  border-bottom: 1px solid var(--header-background);
}

/* hero */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-icon-cont {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #0000001a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon-cont:hover,
.close-icon-cont:focus {
  background: #404bbf;
  cursor: pointer;
}
.close-icon-cont:focus,
.close-icon-cont:hover .close-icon {
  fill: #ffffff;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
  color: var(--third-color);
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 170px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--third-color);
  background-color: var(--brand-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.feedback-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  left: 16px;
  fill: #2e2f42;
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
  opacity: 1;
}

.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-comments {
  display: flex;
  flex-direction: column;
}
.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-input {
  opacity: 0.2;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  resize: none;
}

.modal-input-comments {
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #000;
}

.conditions-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 24px;
}

.policy-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.conditions-icon {
  position: relative;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  color: transparent;
}
.policy-icon {
  width: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.checkbox:checked + .custom-checkbox > .conditions-line > .conditions-icon {
  color: #f4f4fd;
  background-color: #404bbf;
}
.conditions-line {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.modal-btn {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  width: 168px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--third-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* about us */

.about-us-section {
  padding: 96px 0;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.about-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about-us-icon {
  display: none;
}

/* info */
.info-title {
  margin-bottom: 72px;
}
.info-section {
  display: none;
  padding-bottom: 120px;
}
.info-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

/* team */
.our-team-section {
  padding: 96px 0;
  background-color: var(--contacts-color-secondary);
}

.our-team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.team-pos {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-photo {
  margin-bottom: 0;
}
.team-descr {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
  max-width: 264px;
}

.team-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-media-list-link {
  background-color: var(--brand-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media-list-link:hover,
.team-media-list-link:focus {
  background-color: var(--accent-color);
}

.team-media-list-icon {
  fill: var(--contacts-color-secondary);
}

/* customers */

.customers {
  padding: 96px 0;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid var(--customers-color);
  border-radius: 4px;
  color: var(--customers-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-icon {
  fill: currentColor;
}
.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */
.footer {
  background: var(--background-section-color);
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-logo {
  color: var(--contacts-color-secondary);
  margin-bottom: 16px;
  margin-right: 0px;
  display: block;
  text-align: center;
}
.footer-forms {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color-secondary);
  max-width: 268px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-list-icon {
  fill: var(--contacts-color-secondary);
}

.footer-input {
  width: 398px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--third-color);
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.8;
}

.footer-btn {
  background-color: var(--brand-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-color);
}
.footer-right-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.footer-right-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .about-title {
    text-align: left;
  }
  .about-us-list {
    align-content: flex-start;
  }
  .about-info {
    max-width: 356px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .customers-list-link {
    width: 168px;
    height: 88px;
  }
  .footer {
    padding: 100px 0;
    padding-left: 108px;
  }
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: calc((100% - 1 * 24px) / 2);
    gap: 72px 24px;
    align-items: flex-start;
  }
  .footer-left {
    margin-right: 24px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social {
    text-align: left;
  }
  .footer-input {
    width: 264px;
  }
  .footer-btn {
    margin-left: 0;
    margin-right: 0;
    gap: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-forms {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .about-us-section {
    padding: 120px 0;
  }
  .about-us-list {
    flex-wrap: nowrap;
  }
  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-top: 8px;
  }
  .about-info {
    font-weight: 400;
  }
  .about-us-icon {
    display: block;
  }
  .info-section {
    display: block;
    padding-bottom: 120px;
  }
  .our-team-section {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
  .customers {
    padding: 120px 0;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .footer-container {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
  }
  .footer-left {
    margin-right: 120px;
  }
  .footer-right {
    margin-left: 80px;
  }
  .footer {
    padding: 100px 0;
    padding-left: 0;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color-secondary);
    width: 264px;
    align-items: space-between;
  }
}
